.table{
    border-spacing: 0;
    margin: 1rem;
    background-color: gray;
}

 
.table__row:nth-child(even){
    background-color:gray;

}

.table__header{
    text-align: left;
}

.table__cell{
    padding: 8px;
}